<a href="https://colab.research.google.com/github/trucphuongbvc/LAPTRINHPYTHONNANGCAO/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def find_dups(L):
  elem_set = set()
  dups_set = set()
  for entry in L:
    len_initial = len(elem_set)
    elem_set.add(entry)
    len_after = len(elem_set)
    if len_initial == len_after:
      dups_set.add(entry)
  return(dups_set)

In [13]:
find_dups([4,5,6,1,8,2,4,89,1,6,4,5,1,8,2])

{1, 2, 4, 5, 6, 8}

In [15]:
def mating_pairs(males, females):
 """ (set, set) -> set of tuple
 Return a set of tuples where each tuple contains a male from males 
and a
 female from females.
 >>> mating_pairs({'Anne', 'Beatrice', 'Cari'}, {'Ali', 'Bob', 
'Chen'})
 {('Cari', 'Chen'), ('Beatrice', 'Bob'), ('Anne', 'Ali')}
 """
 pairs = set()
 num_gerbils = len(males)
 for i in range(num_gerbils):
  male = males.pop()
  female = females.pop()
  pairs.add((male, female))
 return pairs

In [16]:
mating_pairs({'Anne', 'Beatrice', 'Cari'}, {'Ali', 'Bob', 'Chen'})

{('Anne', 'Chen'), ('Beatrice', 'Bob'), ('Cari', 'Ali')}

In [17]:
males = {'Anna','Jane','Sophia'}
females = {'Bob','David','Tom'}
def mating_couple(males,females):
  couple = set()
  for i in range(len(males)):
    male = males.pop()
    female = females.pop()
    couple.add((male, female))
  return couple

In [18]:
mating_couple(males,females)

{('Anna', 'Tom'), ('Jane', 'Bob'), ('Sophia', 'David')}

In [19]:
def count_values(dic):
  tontai = []
  for key, value in dic.items():
    tontai.append(value)
  for key, value in dic.items():
    count = 0
    for i in tontai:
      if i == value:
        count = count + 1
    if count == 1:
      print(value)

In [20]:
dic = {'red': 1, 'green': 1, 'blue': 2}
count_values(dic)

2

In [21]:
def least(dic):
  min = 999999999999999999999999999
  for key, value in dic.items():
    if value < min:
      min = value
      str1 = key
    else:
      continue
  for key, value in dic.items():
    if key == str1:
      print(key)

In [24]:
def count(dic):
  count = []
  for key, value in dic.items():
    if value in count:
      print(value)
    else:
      count.append(value)

In [25]:
dic = {'red': 1, 'green': 1, 'blue': 2}
count(dic)

1

In [26]:
def is_balanced(dic):
  balanced=0
  for key, value in dic.items():
    balanced += value
  if balanced == 1:
    return True
  else:
    return False

In [27]:
color = {'R':0.3,'G':0.3,'B':0.2}
is_balanced(color)

False

In [28]:
def dict_intersect(dic1,dic2):
  dic3 = {}
  for key, value in dic1.items():
    for key1, value1 in dic2.items():
      if ((key == key1) and (value ==value1)):
        dic3[key] = value
  return dic3

In [29]:
dic1 = {'red': 1, 'green': 1, 'blue': 2}
dic2 = {'red': 1, 'green': 5, 'blue': 2, 'black': 4}
dict_intersect(dic1,dic2)

{'blue': 2, 'red': 1}

In [31]:
def least_likely(particle_to_probability):
  smallest = 1
  name = ''
  for particle in particle_to_probability:
    probability = particle_to_probability[particle]
    if probability < smallest:
      smallest = probability
      name = particle
  return name
least_likely({'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14})

'meson'

In [32]:
def dict_interest(dict1, dict2):
  intersection = {}
  for (key, value) in dict1.items():
    if key in dict2 and value == dict2[key]:
      intersection[key] = value
  return intersection
dict_interest({'a': 1, 'b': 2, 'c': 3}, {'a': 1, 'd': 2, 'b': 2})

{'a': 1, 'b': 2}

In [33]:
def db_headings(dict_of_dict):
  inner_keys = set()
  for key in dict_of_dict:
    for inner_key in dict_of_dict[key]:
      inner_keys.add(inner_key)
  return inner_keys
db_headings({'A': {1: 'a', 2: 'b'}, 'B': {2: 'c', 3: 'd'}})

{1, 2, 3}